h1{
font-family: 'Merriweather', serif;	

}

.row {
	min-height: 100px;
	box-sizing: border-box;
	color: white;
}

.dark {
	background-color: black;
}

.nav {
	list-style: none;
}

.logo {
	color: yellow;
	margin-left: 10px;
	margin-top: auto;
	padding-top: 10px;
	font-size: 28px;
}


.nav li{
	display: inline;
	margin: 10px;
	font-family: 'Merriweather', serif;
}


.biggernav{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
}

.row-flex {
	display: flex;
}

.eyebrow {
	font-family: 'Merriweather', serif;
	font-style: italic;
	background-color: #ccc;
	color: black;
	border-top: 5px solid yellow;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: center;
	font-weight: bold;
}

.eyebrow del{
	color: gray;
}
.eyebrow ins{
	text-decoration: underline;
	text-decoration-color: yellow;
}

.background-image {
	background-image: url("../images/coworking.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.transbox {
  margin: 25px 120px 25px 875px;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.transbox p {
  margin-left: 10%;
  margin-right: 10%;
  color: #000000;
  font-size: 20px;
  line-height: 1.5;

}

.transbox h1 {
  margin-left: 10%;
  font-weight: bold;
  color: #000000;
  margin-top: 10%;
}


.row-tall {
	min-height: 200px;	
}

.col {
	box-sizing: border-box;
	background-color: transparent;
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
	margin: 2px;
}

.col-third {
	width: 20%;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
	border-left: none;
}
.col-third-small {
	width-left: 10%;
	width-right: 10%;
	border-right: none;
}

.col-third:last-child {
	border-right: none;	

}

.button {
	font-family: 'Oswald', sans-serif;
    background-color: #ccc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
}

.button{
	font-family: 'Oswald', sans-serif;
    background-color: #ccc;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.yellow-transparent{
	background-color: yellow;
}

.col:last-child { /* psuedoclass */
	margin-right: 0;
}
p {
	font-family: 'Source Sans Pro', sans-serif;
}

footer{
		font-family: 'Merriweather', serif;
		font-weight: bolder;
		font-size: 20px;
		display: flex;
		padding-left: 250px;
		justify-content: space-between;
}

@media all and (max-width: 550px){
	.row-flex{
	display: block;
	}
	.col-half {
	width: 100%;
	min-height: 150px;
}

.col-third {
	width: 100%;
	min-height: 100px;
	}
}